body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    text-align: center;
    background-image: url(https://lh3.googleusercontent.com/proxy/T77ARlzTK5-YYLr50gto2KTYxpT3X5kDsc2r6q22gdLPaQ8JFqvxE_c-VnHaimdUYer0bdkrizudTRvZLgkco4UK-rTuv6-Dx0cQJxVJov_jNsukueStfMDjBQ1nIypUqBZvPfgZIZmFFIc);
}   
.button {
    background-color: rgb(225, 250, 255);
    border-color: rgb(225, 250, 255);
    font-size: 16px;
    color: black;
    cursor: pointer;
}
.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
    border-color:rgb(225, 250, 255);
}
